@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<div class="text-center">
    <h1 class="display-4" id="welcomeMessage">Loading...</h1>
    <p>This is My .Net core Web Application</p>

</div>

<script src="~/DashBoard/Dashboard.js"></script>